registry=https://pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/registry/:username=ImmanuelSianturi
//pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/registry/:_password=bzVqa3I2ZXd5b3ZqZGR0cmg2Ym9ybnJlbTN2dGc0cHZ6YjVhY3hheGI2NHoyNTR0bWp6cQ==
//pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/registry/:email=immanuelsianturi@ag-it.com
//pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/:username=ImmanuelSianturi
//pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/:_password=bzVqa3I2ZXd5b3ZqZGR0cmg2Ym9ybnJlbTN2dGc0cHZ6YjVhY3hheGI2NHoyNTR0bWp6cQ==
//pkgs.dev.azure.com/ImmanuelSianturi/Project-Poc/_packaging/DevOpspoc/npm/:email=immanuelsianturi@ag-it.com
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/3721eca1-7958-7974-8645-a4aaee97a6ff/npm/registry/:email=immanuelsianturi@ag-it.com
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/3721eca1-7958-7974-8645-a4aaee97a6ff/npm/registry/:username=ImmanuelSianturi
; end auth token