registry=https://pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:username=ImmanuelSianturi
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:_password=o5jkr6ewyovjddtrh6bornrem3vtg4pvzb5acxaxb64z254tmjzq
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:email=immanuelsianturi@ag-it.com
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/:username=ImmanuelSianturi
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/:_password=o5jkr6ewyovjddtrh6bornrem3vtg4pvzb5acxaxb64z254tmjzq
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/:email=immanuelsianturi@ag-it.com
; end auth token