registry=https://pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry

always-auth=true

; begin auth token
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:username=ImmanuelSianturi
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:_password=bzVqa3I2ZXd5b3ZqZGR0cmg2Ym9ybnJlbTN2dGc0cHZ6YjVhY3hheGI2NHoyNTR0bWp6cQ==
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:email=immanuelsianturi@ag-it.com
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/:username=ImmanuelSianturi
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/:_password=bzVqa3I2ZXd5b3ZqZGR0cmg2Ym9ybnJlbTN2dGc0cHZ6YjVhY3hheGI2NHoyNTR0bWp6cQ==
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/:email=immanuelsianturi@ag-it.com
//pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/:_authToken=bzVqa3I2ZXd5b3ZqZGR0cmg2Ym9ybnJlbTN2dGc0cHZ6YjVhY3hheGI2NHoyNTR0bWp6cQ==
npm adduser --registry=https://pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/npm/registry/
; end auth token