<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ImmanuelSianturi" value="https://pkgs.dev.azure.com/ImmanuelSianturi/_packaging/ImmanuelSianturi/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ImmanuelSianturi>
      <add key="Username" value="AzureArtifacts" />
      <add key="ClearTextPassword" value="F4zxh4YSUUpWaYY00pch3KZ8Z0ZkRxoMkDtl5oS9oah6l2L9HT0SJQQJ99AKACAAAAAnT0hSAAASAZDORsjz" />
    </ImmanuelSianturi>
  </packageSourceCredentials>
</configuration>